body {
    background: linear-gradient(-90deg, lightblue, lightcoral);
    text-align: center;
    top: 50%;
}

h1 {
    position: relative;
}

img {
    border-radius: 3.5px;
    position: relative;
    margin: auto;
    opacity: 0.90;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

figcaption {
    position: relative;
    font-size: 1.5em;
}

#quotecenter {
    overflow: visible;
}

#newquote {
    background-color: lightblue;
    border-style: none;
    border-radius: 3.5px;
    font-size: 14px;
    padding: 6px 10px;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.3s;
}

#newquote:hover {
    background-color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2), 0 14px 20px 0 rgba(0, 0, 0, 0.15);
    color: black;
    cursor: pointer;
}

img.transparent {
    opacity: 0;
}